html, body {
    font-family: "Lato", sans-serif;
    width: 100%;
    height: 100%;
    position: fixed;
}

body {
}

.allContent {
    position: relative;
    display: inline-block;
    height: 100%;
    width: 100%;
}

.ol-zoom {
    left: unset;
    right: 5%
}

#controlPanel {
    float: left;
    height: 100%;
    width: 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: #007bff;
    padding-top: 20px;
    border: solid 5px #013e71;
    border-left: none;
}

    #controlPanel a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
        /*transition: 0.3s;*/
    }

        #controlPanel a:hover {
            color: #f1f1f1;
        }

    #controlPanel .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
    }

.map {
    position: relative;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    float: right;
    border-top: solid 5px #013e71;
    border-bottom: solid 5px #013e71;
}

#btn-collapse {
    padding: 0 !important;
    position: absolute;
    right: 0px;
    top: 0px;
    /*background-color:#23a5a9;
    border:dashed 4px #818181;*/
}

    /*#btn-collapse:hover {
        background-color: #969c9b;
        
    }*/
    #btn-collapse img {
        width: 30px;
        height: 30px;
    }

        #btn-collapse img:hover {
            width: 40px;
            height: 40px;
        }


#btn-expand {
    padding: 0 !important;
    position: absolute;
    left: 2px; /*nieruszac nic wszystko elegancko policzone*/
    top: -3px;
    border: solid 3px #013e71;
    z-index: 1;
    /*background-color:#23a5a9;
    border:dashed 4px #818181;*/
}

    /*#btn-collapse:hover {
        background-color: #969c9b;
        
    }*/
    #btn-expand img {
        width: 30px;
        height: 30px;
    }

        #btn-expand img:hover {
            width: 40px;
            height: 40px;
        }



.partial-panel {
    padding-left: 1em;
    padding-right: 1em;
    overflow-x: hidden;
}

.panel-heading {
    color: #57c0d8;
    font-weight: bold;
    font-size: 1.4em;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    overflow: hidden;
    line-height: 1em;
    margin-bottom: 5px;
}

.panel-body {
    overflow-x: hidden;
}

.partial-panel .panel-body {
    overflow-y: auto;
    height: 80%;
}


.partial-panel #line-text-input, .partial-panel #post-text-input {
    margin: auto;
    margin-bottom: 10px;
    width: 70%;
}

.line-type h4, .line-stoptype h4 {
    background-color: #0b93ac;
    border: solid 2px black;
    font-size: 1em;
    margin-bottom: 0.3em;
    margin-top: 0.3em;
}

.lines-in-type {
    margin-left: 10px;
}

.line-box, .line-stop-box {
    background-color: #dc1414;
    border: solid 2px black;
    margin: 3px;
    padding: 2px 3px;
    display: inline-block;
}

    .line-box:hover, .line-stop-box:hover {
        font-weight: bold;
        background-color: #871515;
        cursor: pointer;
    }

.line-route {
    background-color: #5d9722;
    color: #172527;
    padding: 4px;
    margin: 5px auto;
}

    .line-route h4 {
        font-size: 0.8em;
        margin-bottom: 0;
        padding: 5px;
    }

.route-clicked {
    background-color: #013e71;
}


.line-route:hover {
    border-radius: 20px;
    cursor: pointer;
    background-color: #0b8a0e;
}

#Line-panel-routes {
    overflow-x: hidden;
}

#Line-panel h4 {
    padding: 5px;
}

#Routes-content {
    height: 20%;
}

#btn-back, #btn-back-post {
    padding: 0 !important;
    display: inline-block !important;
}

    #btn-back img, #btn-back-post img {
        width: 30px;
        height: 30px;
    }

#time-table-content {
    overflow-x: hidden;
    padding: 10px;
    height: 60%;
}

    #time-table-content h3 {
    }

    #time-table-content ul {
        overflow-y: scroll;
        height: 100%;
    }

.list-group-item {
    padding-top: 0.25em;
    padding-bottom: 0.25em;
}

    .list-group-item:hover {
        background-color: #57c0d8;
        cursor: pointer;
    }


#Posts-content {
    height: 80%;
}

#Posts-panel h3, #Posts-panel h4, #Posts-panel h5, #Posts-panel-detail h3, #Posts-panel-detail h4, #Posts-panel-detail h5 {
    margin-bottom: 0;
}

.post-group-name-div {
    background-color: #e0880f;
    border: solid #151414 2px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 2px;
}

    .post-group-name-div h3 {
        font-size: 1em;
        padding: 4px;
    }

.group-detail-btn {
    font-size: 0.8em;
}

.stop-type .stop-type-name {
    font-size: 1em;
    background-color: #1aa76a;
    margin-left: 10px;
    border: solid #151414 2px;
}

.line-stoptype h4, .stop-type-name {
    padding: 5px;
}

.stop-detail {
    background-color: #0b93ac;
    margin-left: 20px;
    border: solid #151414 2px;
    margin-top: 5px;
    margin-bottom: 5px;
}

    .stop-detail:hover {
        cursor: pointer;
        border: solid #151414 4px;
        background-color: #19acb1;
    }


    .stop-detail h4 {
        font-size: 0.8em;
        font-weight: bold;
        padding: 5px;
    }


    .stop-detail h5 {
        font-size: 0.8em;
        padding: 5px;
        padding-top: 0;
    }

tr .grey {
    background-color: #818181;
}

tr .underline {
    text-decoration: underline;
}

.navbar-defined {
    background-color: #065de8;
    display: table;
    margin: 0 auto;
}

#departure-table {
    background-color: #208289;
    width: 1px;
}

#Post-departure-content {
    height: 30%;
    display: flex;
    justify-content: center;
}

#Post-lines-content {
    height: 20%;
}

#Post-lines-wrapper {
    height: 20%;
}

#Post-legend-content p {
    background-color: #1b62b0;
    border: solid 3px #e2e3ea;
    font-weight: bold;
}

#Post-timetable-wrapper {
    height: 30%;
}

#departurefromPost-table {
    background-color: #57c0d8;
}

    #departure-table td, #departurefromPost-table td {
        padding: 5px;
        white-space: nowrap;
    }

.shrinktd {
    width: 1px;
}

.navbar-header-defined {
    color: #1b1f5a;
    text-shadow: 4px 3px 6px rgba(46, 54, 68,1);
}

.nav-label {
    color: #ac7a21 !important;
    font-weight: bold;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.navbar-defined .nav-link {
    background-color: #0d46a3;
    margin: auto 0.25em;
    color: #24a2be
}

    .navbar-defined .nav-link:hover {
        border-radius: 10px;
        border: solid #0d6d1a;
        color: #58ed25;
    }

.footer-bottom {
    /*position: fixed;
    left: 0;
    bottom: 0;*/
    width: 100%;
    /*height:10%;*/
    background-color: #105ad1;
    margin-top: 0 !important;
}

    .footer-bottom .footer-copyright {
        background-color: #073f99;
    }

.authors p {
    margin-bottom: 0.5em;
}
