﻿
@{
    ViewBag.Title = "SIP Waw";
    ViewBag.ff = "f";
}

<head>
    <link rel="stylesheet" href="https://openlayers.org/en/v4.0.1/css/ol.css" type="text/css">
    <script src="https://openlayers.org/en/v4.0.1/build/ol-debug.js"></script>
    <script src="https://cdn.polyfill.io/v2/polyfill.min.js?features=requestAnimationFrame,Element.prototype.classList,URL"></script>
    <script src="https://openlayers.org/en/v4.6.5/build/ol.js"></script>
    @Styles.Render("~/Content/bootstrap/css")
    @Styles.Render("~/Content/css")
    <meta charset="UTF-8">
    @*<meta name="viewport" content="width=device-width, initial-scale=1">*@
    <title>Położenie pojazdów</title>
</head>
<body>
    <div id="nav-area" class="container-fluid bg-primary">
        <img class="float-left" src="@Url.Content("~/Images/bus.png")" height="100px" />@*trzeba bedzie poprawic zeby obrazek miał wysokośc diva*@
        <img class=" float-right" src="@Url.Content("~/Images/bus.png")" height="100px" />
        <div class="navbar-header-defined text-center">
            <h1>System Informacji Pasażerskiej dla Warszawy</h1>
        </div>

        <nav class="navbar navbar-expand-sm  navbar-defined">

            <ul class="navbar-nav">
                <a class="navbar-brand nav-label"> Znajdź po:</a>
                <li class="nav-item" id="byNumber">
                    <a class="nav-link" id="byLine" href="#">Numerze linii</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="byPost" href="#">Nazwie lub numerze przystanku</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="AllVehicles" href="#">Wszystkie pojazdy</a>
                </li>

            </ul>
        </nav>

    </div>

    <div class="allContent">

        <div id="controlPanel" class="wrapper">
            <a role="button" id="btn-collapse" onclick="closeControlPanel()" class="btn btn-xs  ">
                <img src="~/Fonts/si-glyph-arrow-thick-left.svg" />
            </a>

            <a role="button" id="btn-expand" onclick="openControlPanel()" class="btn btn-xs  bg-primary ">
                <img src="~/Fonts/si-glyph-arrow-thick-right.svg" />
            </a>

            <div id="Line-panel" class="partial-panel">
                <div class="panel-heading text-center">
                    Szukaj według linii

                </div>
                <input type="text" id="line-text-input" style="display:none" class="form-text">
                <div id="Lines-content" class="panel-body">

                </div>
            </div>

            <div id="Line-panel-routes" class="partial-panel" style="display:none">
                <a role="button" id="btn-back" onclick="getBackFromLineRoutes()" class="btn btn-xs  bg-primary " style="display:none;text-align:left;overflow-x:hidden">
                    <img src="~/Fonts/si-glyph-backward-page.svg" />
                </a>

                <div id="RoutesHeading" class="panel-heading text-center"></div>

                <div id="Routes-content" class="panel-body">

                </div>
                <div id="TimeTableHeading" class="panel-heading text-center">Rozkład jazdy</div>
                <div id="time-table-content" class=" panel-body" style="display:none">
                    <ul class="list-group"></ul>
                </div>



            </div>

            <div id="Posts-panel-detail" class="partial-panel" style="display:none">
                <a role="button" id="btn-back-post" onclick="getBackFromPostDetails()" class="btn btn-xs  bg-primary " style="display:none;text-align:left;overflow-x:hidden">
                    <img src="~/Fonts/si-glyph-backward-page.svg" />
                </a>

                <div id="PostDepartureHeading" class="panel-heading text-center">
                    Najbliższe odjazdy
                </div>

                <div id="Post-departure-content" class="panel-body">

                    <table class="table table-bordered" id="departure-table"> </table>
                </div>
                <div id="PostLinesHeading" class="panel-heading text-center">
                    Linie dla przystanku
                </div>

                <div id="Post-lines-content" class="panel-body">
                </div>
                <div id="PostTimeTableHeading" class="panel-heading text-center">
                </div>
                <div id="Post-timetable-wrapper" class="panel-body">
                    <div id="Post-timetable-content">
                        <table class="table table-bordered" id="departurefromPost-table"></table>
                    </div>
                    <div id="Post-legend-content" class="panel-body">

                    </div>
                </div>


            </div>

            <div id="Posts-panel" class="partial-panel" style="display:none">
                <div class="panel-heading text-center">
                    Szukaj według grup przystanków

                </div>
                <input type="text" id="post-text-input" style="display:none" class="form-text">
                <div id="Posts-content" class="panel-body">

                </div>
            </div>
        </div>
        <div id="map" class="map">
        </div>
    </div>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/AppScripts")
    <script>
        var map = createMap();
    </script>

</body>